{{ $paginator := .Paginate (.Pages.ByPublishDate.Reverse) }}
<div class="level is-mobile">
    <div class="level-left">
        {{ partial "paginator-buttons.html" $paginator }}
    </div>
    <div class="level-right">
        <div class="rel-alternate-buttons">
            <a class="button is-link" rel="alternate" href="{{ (.OutputFormats.Get "RSS").Permalink }}"><span class="icon is-medium"><i class="fas fa-2x fa-rss"></i></span></a>
        </div>
    </div>
</div>
{{ range $paginator.Pages }}
    <div class="box">
        <div class="pageHeaderContainer">
            {{ partial "blogPageHeader.html" . }}
        </div>
        <div class="content"><p> {{ .Summary  }} <a href="{{ .Permalink }}">{{ T "readmore" }}</a> </p></div>
    </div>
{{ end }}
{{ partial "paginator-buttons.html" $paginator }}
