<div class="columns is-centered has-text-white social">
    <div class="column is-narrow">
        <p class="title"><a href="https://twitter.com/patekvpatek" target="_blank"><i class="fab fa-twitter"></i></a></p>
    </div>
    <div class="column is-narrow">
        <p class="title"><a href="https://gitlab.com/patek-devs" target="_blank"><i class="fab fa-gitlab"></i></a></p>
    </div>
    <div class="column is-narrow">
        <p class="title"><a href="https://t.me/patekvpatek" target="_blank"><i class="fab fa-telegram-plane"></i></a></p>
    </div>
    <div class="column is-narrow">
        <p class="title"><a href="mailto:patek@gbl.cz" target="_blank"><i class="fas fa-at"></i></a></p>
    </div>
    <div class="column is-narrow">
        <p class="title"><a href="https://www.youtube.com/channel/UCGoBlkJleXZ2dPcYQ5G1mHQ" target="_blank"><i class="fab fa-youtube"></i></a></p>
    </div>
</div>
<br>
<p>Copyright &copy; {{ now.Year }} Pátek</p>
<p>{{ safeHTML (T "copyright") }}</p>
{{ safeHTML (i18n "footer") }}
<h2 id="sponsors-and-supporters"> {{ T "sponsors" }} </h2>
<div class="columns is-centered is-multiline sponsors">
    <div class="column is-narrow sponsor">
        <a href="https://hardwario.com"><img src="/img/hardwario-logo.svg" width="200" alt="Hardwario Logo"></a>
    </div>
    <div class="column is-narrow sponsor">
        <a href="https://gbl.cz"><img src="/img/gbl-logo.svg" width="120" alt="Gymnázium J. S. Machara Logo"></a>
    </div>
</div>
