{{ define "title" }} Pátek {{ end }}

{{ define "body" }}

    <div id="landing">
        <div class="patek-logo-top">
            <patek-logo>Pátek</patek-logo>
	        {{ if .Site.Params.onlineOnly.active }}
            <div class="online-notice">
                <a href="{{ .Site.Params.onlineOnly.link }}">{{ .Site.Params.onlineOnly.displayText }}</a>
            </div>
            {{ end }}
        </div>
        <div class="intro container">
            <section class="section">
                {{ .Content }}
            </section>
        </div>
        <div class="big-buttons container">
            <section class="section columns is-multiline">
                {{ range .Site.Menus.landing }}
                    <div class="column is-6">
                        <a href="{{ .URL }}">
                            <div class="big-button" style="background-color: {{ .Page.Params.buttonColor }}; color: {{ .Page.Params.buttonTextColor | default "white" }}">
                                <div class="front">
                                    <h1>{{ safeHTML .Title }}</h1>
                                </div>
                                <div class="back">
                                    {{ .Page.Summary | truncate 200 }}
                                </div>
                            </div>
                        </a>
                    </div>
                {{ end }}
            </section>
        </div>

    </div>
    {{ partial "footer.html" . }}
{{ end }}
